<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>统一异常处理</title>
</head>
<body>

<h1>[[${status}]] 访问异常！</h1>
<h4>1 = [[${error}]]</h4>
<h4>2 = [[${message}]]</h4>
<h4>3 = [[${errors}]]</h4>
<div>=============标记==================</div>

</body>
</html>