<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>统一异常处理</title>
</head>
<body>
<h1>访问异常！</h1>

<!--
  th:text 使用 |xxx| 拼接字符串，否则会解析失败。也可以使用 th:inline="text" [[${data}]] 的方法拼接字符串。
-->

<!--/*@thymesVar id="url" type="java.lang.String"*/-->
<div th:text="|url = ${url}|"></div>

<!--/*@thymesVar id="exception" type="java"*/-->
<div th:text="|exception = ${exception}|"></div>

<div>=============标记==================</div>


</body>
</html>