<!DOCTYPE html>
<!-- 必须加上这一句，否则 th 不可用 -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <!--
        Edge 模式告诉 IE 以最高级模式渲染文档，也就是任何 IE 版本都以当前版本所支持的最高级标准模式渲染，避免版本升级造成的影响。
        简单的说，就是什么版本IE 就用什么版本的标准模式渲染，或强制 IE 使用 Chrome Frame 渲染
    -->
    <meta content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--
        viewport，是用于在移动设备上进行网页的重构或开发，是设置了当前页面在移动端的显示格式。 content属性值 :

        width：            可视区域的宽度，值可为数字或 关键词device-width（即设备宽度）
        height：           同width
        intial-scale：     页面首次被显示是可视区域的缩放级别，取值1.0则页面按实际尺寸显示，无任何缩放
        maximum-scale=1.0, minimum-scale=1.0;  可视区域的缩放级别，
        maximum-scale：     用户可将页面放大的程序，1.0将禁止用户放大到实际尺寸之上。
        user-scalable：     是否可对页面进行缩放，no 禁止缩放
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/webjars/layui/2.4.5/css/layui.css}" media="all">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/layui/2.4.5/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <title>Title</title>
    <style>
        h3 {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>
<body>

<div th:replace="commons/index::topbar"></div>
<p class="layui-elem-quote">以下是原生的格式，所以使用 layui 的格式。</p>


<!--需要区分是员工修改还是添加；-->
<form th:action="@{/emp/addEmp}" method="post" id="submit">
    <!--发送 put 请求修改员工数据-->
    <!--
    1、页面创建一个post表单（即现有表单）
    2、在 SpringMVC 中配置 HiddenHttpMethodFilter，指定请求的方式（在 SpringBoot 中是自动配置好的）
    3、创建一个 input 项，name="_method"; value 值就是我们指定的请求方式（这是固定格式）
    4、先使用优先级最高的 th:if 进行判断，只有不为空时才获取信息。以避免页面解析异常。
    -->
    <input type="hidden" name="_method" value="put" th:if="${emp!=null}"/>
    <input type="hidden" name="id" th:if="${emp!=null}" th:value="${emp.id}">
    <div>
        <label>姓名</label>
        <input name="name" type="text" placeholder="zhangsan" th:value="${emp!=null}?${emp.name}" required lay-verify="required">
    </div>
    <div>
        <label>密码</label>
        <input name="password" type="text" placeholder="zhangsan@atguigu.com" th:value="${emp!=null}?${emp.password}" required lay-verify="required">
    </div>
    <div>
        <label>性别</label><br/>
        <div>
            <!--<input type="radio" name="sex" value="1" th:checked="${emp!=null}?${emp.sex==1}">-->
            <input type="radio" name="sex" value="1" th:checked="${emp!=null && (emp.sex==null || emp.sex==1)?true:false}">
            <!--<input type="radio" name="sex" value="1" th:attr ="checked=${emp!=null && emp.sex==null?true:false}">-->
            <label>男</label>
        </div>
        <div>
            <input type="radio" name="sex" value="0" th:checked="${emp!=null}?${emp.sex==0}" required>
            <label>女</label>
        </div>
        <input type="text" name="sex" th:value="${emp!=null && emp.sex==null?'true':'false'}">
    </div>
    <div>
        <label>年龄</label>
        <input name="age" type="text" placeholder="18" th:value="${emp!=null}?${emp.age}">
        <!--提交的是部门的id-->
        <!--<select name="department.id">-->
            <!--<option th:selected="${emp!=null}?${dept.id == emp.department.id}" th:value="${dept.id}" th:each="dept:${depts}" th:text="${dept.departmentName}">1</option>-->
        <!--</select>-->
    </div>
    <div>
        <!--
        在这里要特别注意提交的数据格式，例如日期：2017-12-12；2017/12/12；2017.12.12；提交时 SpringMVC 会将页面提交的值转换为指定的类型;
        因为 springMVC 默认是按照 / 的方式解析的；所以如果是其他格式，则系统就会抛出 500 异常。
        可以在全局配置文件中设置日期的格式：spring.mvc.date-format:yyyy-MM-dd。

        -->
        <label>出生日期</label>
        <input name="birth" id="birth" type="text" placeholder="2018/01/01" th:value="${emp!=null}?${#dates.format(emp.birth, 'yyyy/MM/dd')}" required lay-verify="date">
    </div>
    <button type="submit" th:text="${emp!=null}?'修改':'添加'" lay-submit lay-filter="form">添加</button>
</form>
<br>===========================================================================
<br>===========================================================================

<form class="layui-form" th:action="@{/emp/addEmp}" method="post" id="submit1" lay-filter="example">
    <input type="hidden" name="_method" value="put" th:if="${emp!=null}"/>
    <input type="hidden" name="id" th:if="${emp!=null}" th:value="${emp.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" autocomplete="off" placeholder="zhangsan" class="layui-input" th:value="${emp!=null}?${emp.name}" required lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码框</label>
        <div class="layui-input-block">
            <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input" th:value="${emp!=null}?${emp.password}" required lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <!--<input type="radio" name="sex" value="1" title="男" th:checked="${emp!=null}?${emp.sex==1}">-->
            <input type="radio" name="sex" value="1" title="男" th:checked="${emp!=null && (emp.sex==null || emp.sex==1)?true:false}">
            <input type="radio" name="sex" value="0" title="女" th:checked="${emp!=null}?${emp.sex==0}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-block">
            <input type="text" name="age" placeholder="年龄" autocomplete="off" class="layui-input" th:value="${emp!=null}?${emp.age}" required lay-verify="number">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出生日期</label>
        <div class="layui-input-block">
            <input type="text" id="birth2" name="birth" placeholder="2018/01/01" autocomplete="off" class="layui-input" th:value="${emp!=null}?${#dates.format(emp.birth, 'yyyy/MM/dd')}" required lay-verify="date">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="form">立即提交</button>
        </div>
    </div>
</form>

<p>
    <!--
        /login，及 ?error，?logout 都是 security的默认路径，在不使用自定义的路径时都可用，
        并且退出登录时，也必须使用 form 表单提交，否则不会生效。

        <a th:href="|@{/login?logout}|">退出系统的登录</a>
        <a th:href="|@{/parselogin?logout=yes}|">退出自定义登录</a>
    -->
    <form id="f" action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
        <a th:onclick="'javascript:quit()'">退出自定义登录</a>
    </form>
</p>
</body>

<script th:inline="javascript">
    var form;
    layui.use(['laydate', 'form','element'], function () {
        var laydate = layui.laydate;
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        form = layui.form;

        laydate.render({
            elem: '#birth' //指定元素
            , type: 'date'
        });
        laydate.render({
            elem: '#birth2' //指定元素
            , type: 'date'
        });

        //监听提交
        form.on('submit(form)', function (data) {
            // var card = $("input[name='birth']").val();
            // if(!card){
            //     layer.alert("出生日期不能为空！");
            //     return false;
            // }
            $("#submit1").submit();
        });
    });

    function quit() {
        console.log("111");
        f.submit();
    }

    // $("#logout").onclick(function () {
    //     f.submit();
    // });

</script>
</html>