<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 将命名空间与接口类名进行绑定 -->
<mapper namespace="hyman.springbootdemo.dao.UserDao" >
  <resultMap id="countMap" type="java.lang.Long"/>
  <resultMap id="baseResultMap" type="hyman.springbootdemo.entity.User">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="Name" jdbcType="VARCHAR" />
    <result column="password" property="Pass_word" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, password,age
  </sql>

  <!--
    集合的多结果集，多 sql 查询:
    1，必须给定一个指定的名称给对应的结果集合，做法是：增加一个“resultSets”属性，并使用逗号作为间隔。
    2，也可以采用级联 collection 的方式，把结果集作为一个属性查出来。
  -->
  <!--<select id="selectAndCount" resultMap="baseResultMap,countMap" resultSets="users,count" parameterType="java.util.Map" >-->
    <!--SELECT-->
    <!--<include refid="Base_Column_List" />-->
    <!--FROM user-->
    <!--limit #{start},#{end};-->

    <!--SELECT COUNT(id) count FROM USER;-->
  <!--</select>-->

  <select id="selectAndCount" resultMap="baseResultMap,countMap" resultSets="users,count" parameterType="hyman.springbootdemo.entity.PropSet" >
    SELECT
    <include refid="Base_Column_List" />
    FROM user
    limit #{obj1},#{obj2};

    SELECT COUNT(id) count FROM USER;
  </select>

  <!--==================================分割线==========================================-->

  <select id="findAll" resultMap="baseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM user
  </select>

</mapper>